<footer class="container-fluid bg-dark text-white footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 footer-section">
                <h2 class="footer-logo">Legacy Barber</h2>
                <p class="footer-p my-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laboriosam sint beatae error fugit quia
                    nobis necessitatibus dignissimos maxime impedit!?
                </p>
                <ul class="d-flex gap-3 list-unstyled">
                    <li><a class="social-icon" href="#"><img src="/icons/facebook.svg"></img></a></li>
                    <li><a class="social-icon" href="#"><img src="/icons/twitter-x.svg"></img></a></li>
                    <li><a class="social-icon" href="#"><img src="/icons/instagram.svg"></img></a></li>
                    <li><a class="social-icon" href="#"><img src="/icons/whatsapp.svg"></img></a></li>
                    <li><a class="social-icon" href="#"><img src="/icons/telegram.svg"></img></a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 footer-section">
                <h5>Nosotros</h5>
                <ul class="footer-links">
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Comentanos</a></li>
                    <li><a th:href="@{/trabajadores}">Trabajadores</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 footer-section">
                <h5>Políticas</h5>
                <ul class="footer-links">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Terminos de servicio</a></li>
                    <li><a href="#">Soporte</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-4 footer-section">
                <h5>Trabajemos juntos</h5>
                <ul class="footer-links">
                    <li><a href="#">Contactanos</a></li>
                    <li><a th:href="@{BarberiaLegacy.pdf}">Documentación</a></li>
                    <li><a href="#">Roles</a></li>
                    <li><a href="#">Terminos y Condiciones</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <ul class="footer-bottom-links">
                <li><a href="#"><small>Políticas de Privacidad</small></a></li>
                <li><a href="#"><small>Terminos de Servicio</small></a></li>
                <li><a href="#"><small>Política de Cookies</small></a></li>
            </ul>
            <p><small>© 2025 Legacy Barber.</small></p>
        </div>
    </div>
</footer>